home/.config/Code/
home/.config/Franz/
home/.config/QtProject.conf
home/.config/autostart/
home/.config/configstore/
home/.config/dconf/
home/.config/enchant/
home/.config/eog/
home/.config/evince/
home/.config/fontconfig/
home/.config/gedit/
home/.config/google-chrome/
home/.config/gpick/
home/.config/gtk-2.0/
home/.config/htop/
home/.config/inkscape/
home/.config/kazam/
home/.config/libreoffice/
home/.config/menus/
home/.config/mimeapps.list
home/.config/nautilus/
home/.config/pulse/
home/.config/ranger/
home/.config/screenruler/
home/.config/totem/
home/.config/vlc/
